<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="EquipMapper">

<!-- 设备表相关操作 -->
	<insert id="addEquip">
		insert into equip (IMEI , phone)
		values (#{IMEI} , #{phone})
	</insert>
	
	<select id="selectEquipByIMEI" resultType="Equip">
		select * from equip
		where IMEI = #{IMEI}
	</select>

	<update id="updateEquipPhone">
		update equip
		set
		phone = #{phone},
		where IMEI = #{IMEI}
	</update>

<!-- 用户添加设备表操作 -->
	<insert id="addEquipForUser" useGeneratedKeys="true"
		keyProperty="id">
		insert into equipment (eId , name , uId)
		values
		(#{eId},#{name},#{uId})
	</insert>

	<update id="updateEquipForUser">
		update equipment
		set
		name = #{name},
		where id = #{id}
	</update>

	<delete id="deleteEquipForUser">
		delete from equipment
		where id = #{id}
	</delete>

	<select id="selectEquipById" resultType="Equipment">
		select * from equipment
		where id = #{id}
	</select>

	<select id="selectEquipByUid" resultType="Equipment">
		select * from equipment
		where uId = #{uId} order by id
	</select>

	<select id="selectEquipByUidAndEid" resultType="int">
		select id from equipment
		where uId = #{uId} and eId = #{eId}
	</select>

</mapper>