<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PostionMapper">

	<insert id="addPosition" useGeneratedKeys="true" keyProperty="id">
		insert into position (time,lat,lng,speed,eId)
		values (#{dateTime},#{lat},#{lng},#{speed},#{eId})
	</insert>

	<select id="selectPosition" resultType="Position">
		select * from position
	</select>
</mapper>