<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PostionMapper">

	<insert id="addPosition" useGeneratedKeys="true" keyProperty="id">
		insert into position (time,lat,lng,speed,eId , inRail)
		values (#{time},#{lat},#{lng},#{speed},#{eId},#{inRail})
	</insert>

	<select id="selectPreviousPosition" resultType="Position">
		select * from position where eId = #{eId} order by time desc limit 60
	</select>
	
	<select id="selectCurrentPosition" resultType="Position">
		select * from position where eId = #{eId} order by time desc limit 1
	</select>
	
	<update id="updatePosition">
		update position
		set
		time = #{time}
		where id = #{id}
	</update>
	
</mapper>