<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="VersionMapper">

	<select id="selectVersion" resultType="VersionInfo">
		select * from versionInfo
		order by code limit 1
	</select>

	<insert id="addVersion">
		insert into versionInfo (code , name , `desc`)
		values
		(#{code} ,#{name},#{desc})
	</insert>

</mapper>